<section class="footer">
    <div class="row">
        <div class="col-md-4 darker" >
            <div class="col-md-12 padding">
                <h4> <%= image_tag 'foot.png' %></h4>
                <hr>
            </div>
        </div><!-- col-md-4-->
        <div class="col-md-4">
            <div class="col-md-12">
                <center><h4><%= image_tag 'center.png' %>  </h4></center>
                <hr>
            </div>
        </div><!-- col-md-4-->
        <div class="col-md-4 dark">
            <div class="col-md-12">
                <br>
                <h4><%= image_tag 'right.png' %> </h4>
                <hr>

            </div>
        </div><!-- col-md-4-->
    </div><!-- row -->
</section>
