<section class="footer">
    <div class="row">
        <div class="col-md-4 darker" >
            <div class="col-md-12 padding">
                <h4> </h4>
                <hr>
            </div>
        </div><!-- col-md-4-->
        <div class="col-md-4">
            <div class="col-md-12">
                <h4> </h4>
                <hr>
            </div>
        </div><!-- col-md-4-->
        <div class="col-md-4 dark">
            <div class="col-md-12">
                <h4> </h4>
                <hr>
            </div>
        </div><!-- col-md-4-->
    </div><!-- row -->
</section>
