<div class="row" style="padding-top:10%;">
<div class="col"> </div>
<div class="col-md-7 text-center">

    <h1>Bienvenido a BlogenlaU</h1>
    <p> <%= link_to 'My blog', articles_path %></p>
</div>
<div class="col"> </div>
</div>
