<div class="row" style="padding-top:10%;">
<div class="col"> </div>
<div class="col-md-7 text-center">
<div class="jumbotron">
    <h1>Bienvenido
 al blog de <br>
        <%= image_tag 'banner.png' %> 
    <p> <%= link_to 'Leer entradas', articles_path ,class:'btn btn-lg btn-welcome' %></p>
</div>
</div>
<div class="col"> </div>
</div>
<hr>
<br>
<br>
<br><br>
<br>
