<div class="row" style="padding-top:10%;">
<div class="col"> </div>
<div class="col-md-7 text-center">

    <h1>Bienvenido a BlogenlaU</h1>
    <p> <%= link_to 'Leer entradas', articles_path ,class:'btn btn-lg btn-welcome' %></p>
</div>
<div class="col"> </div>
</div>
