.footer
{
    background-color: #7620ad;
    min-height: 10rem;

     width:100%;


}

.col-md-4
{

    min-width: 10rem;
    padding: 0;
    margin: 0;
}
.padding
{
    padding: 2rem;
    padding-bottom: 0;
}




.dark
{

}
