// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-welcome
{

    background-color: #7620ad;
    color: #ffffff;

}
.btn-welcome:hover
{

    background-color: #d1d1d1;
    color: #ffffff;

}
h1
{
margin-bottom:40px;
}
